[submodule "data/data-oasis-as-req-dam"]
	path = data/data-oasis-as-req-dam
	url = https://github.com/energy-analytics-project/data-oasis-as-req-dam.git
[submodule "data/data-oasis-prc-fuel-all"]
	path = data/data-oasis-prc-fuel-all
	url = https://github.com/energy-analytics-project/data-oasis-prc-fuel-all.git
[submodule "data/data-oasis-ene-wind-solar-summary"]
	path = data/data-oasis-ene-wind-solar-summary
	url = git@github.com:energy-analytics-project/data-oasis-ene-wind-solar-summary.git
[submodule "data/data-oasis-ene-loss-dam"]
	path = data/data-oasis-ene-loss-dam
	url = https://github.com/energy-analytics-project/data-oasis-ene-loss-dam.git
[submodule "data/data-oasis-sld-ren-fcst-dam"]
	path = data/data-oasis-sld-ren-fcst-dam
	url = https://github.com/energy-analytics-project/data-oasis-sld-ren-fcst-dam.git
[submodule "data/data-oasis-sld-fcst-peak"]
	path = data/data-oasis-sld-fcst-peak
	url = https://github.com/energy-analytics-project/data-oasis-sld-fcst-peak.git
